@charset "UTF-8";

/* droptop tablet */

.sec01{
    height: 550px;
}
header .inner{
    width: 80%;
    justify-content: center;
}
header .nav{
    width: 100%;
    gap: 15px;
    justify-content: center;
}
header .nav li{
    font-size: 25px;
}
header .inner > a{
    display: none;
}
.sec01 .swiper{
    width: 85%;
    height: 500px;
}
.sec02{
    height: 100%;
}
.sec02 .swiper{
    margin: 120px 0 230px 0;
    justify-content: center;
}
.sec02 .swiper-wrapper{
    width: 85%;
    flex-direction: column;
    align-items: center;
    margin: unset;
}
.sec02 .swiper-slide.img01 .imgbox01{
    padding: 25px 0 20px 0;
}
.sec02 .swiper-slide.img01 .imgbox01 .txtbox h3{
    font-size: 35px;
}
.sec02 .swiper-slide.img01 .imgbox01 .txtbox p{
    font-size: 20px;
}
.sec02 .swiper-slide.img01 .imgbox01 .concept{
    height: 270px;
}
.sec02 .swiper-slide.img02 .imgbox02{
    height: 500px;
}
.sec02::after{
    bottom: -300px;
    right: 45px;
    font-size: 180px;
}
.sec02::before{
    top: -119px;
    left: -287px;
}
.sec03{
    height: 920px;
}
.sec03 .inner{
    width: 100%;
}
.sec03 .menubox{
    height: 27%;
}
.sec03 .menu p{
    text-align: center;
}
.sec03 .menu p:first-of-type{
    font-size: 17px;
}
.sec03 .menu p:last-of-type{
    font-size: 12px;
}
.sec03 a{
    padding: 0px 45px 10px 45px;
}
.sec03 a p{
    font-size: 35px;
}
.sec04 .snsbox:nth-of-type(1),
.sec04 .snsbox:nth-of-type(5){
    display: none;
}
.sec04::before{
    left: 146px;
    font-size: 180px;
}
.sec04::after{
    top: 250px;
    right: -250px;
}
footer .top .inner{
    width: 90%;
    height: 65%;
}
footer .bottom .inner{
    width: 90%;
}
footer .awards{
    width: 1000px;
    height: 35px;
}
footer .logo{
    width: 200px;
    height: 60px;
}
footer .footertxt{
    width: 75%;
    margin: 0 20px 0 0;
}
.fixedbt{
    right: 30px;
    top: 30%;
}
.fixedbt .button{
    width: 117px;
    height: 115px;
    gap: 10px;
}
.fixedbt .btimg01{
    width: 43px;
    height: 42px;
}
.fixedbt .btimg02{
    width: 65px;
    height: 56px;
}
.fixedbt .btimg03{
    width: 43px;
    height: 42px;
}
.fixedbt p{
    font-size: 15px;
}

