@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* 구글폰트 noto sans korean */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');
/* font-awsome v6.3.0 */
@import url('https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css');
/* swiper 8.4.6 */

/* artbread pc */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* line-height: 1; */
    /* outline: 1px solid red; */
    word-break: keep-all;
    letter-spacing: -0.02rem;
    color: var(--colorBlack);
}
:root {
    font-family: 'Noto Sans KR', sans-serif;
    --colorBlack: #000000;
    --colorWhite: #ffffff;
    --colorDarkGrey: #535151;
    --colorGrey: #969696;
    --colorLightGrey: #d9d9d9;
    --colorPinkCoral: #FFEEE4;
    --colorDarkBlue: #1A2D68;
    --colorOrange: #EE7C1B;
    --swiper-theme-color: #ffffff;
    
}
i > span {
    display: inline-block;
    width: 0;
    height: 0;
    text-indent: -9999px;
    overflow: hidden;
}
a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
.sec01{
    background: url(/droptop/images/droptop_main/sec01_bgcolor_pc.png) no-repeat 50% 50% / cover;
    width: 100%;
    height: 905px;
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
}
header .inner{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0 35px 0;
}
header .nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 50px;
}
header .nav li{
    color: var(--colorWhite);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 28px;
}
header .inner p{
    color: var(--colorWhite);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 28px;
}
nav{
    display: none;
}
.sec01 .swiper{
    width: 80%;
    height: 865px;
    display: flex;
    z-index: 50;
}
.sec01 .swiper-slide.img01 {
    background: url(/droptop/images/droptop_main/slide01_pc.png) no-repeat 50% 50% / cover;
    cursor: pointer;
}
.sec01 .swiper-slide.img02 {
    background: url(/droptop/images/droptop_main/slide02_pc.png) no-repeat 50% 50% / cover;
    cursor: pointer;
}
.sec01 .swiper-slide.img03 {
    background: url(/droptop/images/droptop_main/slide03_pc.png) no-repeat 50% 50% / cover;
    cursor: pointer;
}
.sec02{
    width: 100%;
    height: 1200px;
    position: relative;
}
.sec02 .swiper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.sec02 .swiper-wrapper{
    width: 70%;
    height: 60%;
    display: flex;
    gap: 70px;
    margin: 0 0 0 180px;
}
.sec02 .swiper-slide.img01{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* display: none; */
}
.sec02 .swiper-slide.img01 .title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sec02 .swiper-slide.img01 .title h3{
    font-size: 50px;
    font-weight: 700;
    color: var(--colorOrange);
    letter-spacing: 25px;
}
.sec02 .swiper-slide.img01 .title a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 367px;
    height: 61px;
    background: var(--colorOrange);
    border-radius: 10px;
}
.sec02 .swiper-slide.img01 .title a p{
    color: var(--colorWhite);
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 10px;
}
.sec02 .swiper-slide.img01 .imgbox01{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 100%;
    border-top: 10px solid var(--colorOrange);
    box-shadow: 0px 0px 26px 0 rgba(238, 124, 28, 1.0);
}
.sec02 .swiper-slide.img01 .imgbox01 .txtbox{
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center;
}
.sec02 .swiper-slide.img01 .imgbox01 .txtbox h3{
    font-size: 40px;
    font-weight: 600;
}
.sec02 .swiper-slide.img01 .imgbox01 .txtbox p{
    font-size: 27px;
}
.sec02 .swiper-slide.img01 .imgbox01 .concept{
    background: url(/droptop/images/droptop_main/sec02img01_pc.png) no-repeat 50% 50% / cover;
    width: 80%;
    height: 369px;
}
.sec02 .swiper-slide.img02{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sec02 .swiper-slide.img02 > h3{
    font-size: 50px;
    font-weight: 700;
    color: var(--colorDarkGrey);
    letter-spacing: 25px;
}
.sec02 .swiper-slide.img02 .imgbox02{
    background: url(/droptop/images/droptop_main/sec02img02_pc.png) no-repeat 50% 50% / cover;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-top: 10px solid var(--colorDarkGrey);
    box-shadow: 8px 9px 15px 0 rgba(0, 0, 0, 0.25);
}
.sec02 .swiper-slide.img02 .imgbox02 .txtbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background: var(--colorDarkBlue);
    width: 40%;
    height: 40%;
    border-radius: 10px;
}
.sec02 .swiper-slide.img02 .imgbox02 .txtbox p{
    color: var(--colorWhite);
    font-size: 30px;
}
.sec02 .swiper-slide.img02 .imgbox02 .txtbox h3{
    color: var(--colorWhite);
    font-size: 50px;
}
.sec02::after{
    content: "DROPTOP";
    color: var(--colorPinkCoral);
    position: absolute;
    font-size: 200px;
    font-weight: 900;
    bottom: -70px;
    right: 10px;
}
.sec02 .btbox{
    display: none;
}
.sec03{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1026px;
    background: var(--colorPinkCoral);
}
.sec03 .inner{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.sec03 h3{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 900;
}
.sec03 .menubox{
    width: 100%;
    height: 37%;
    display: flex;
    flex-direction: row;
}
.sec03 .menu{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 14px solid var(--colorOrange);
    border-radius: 50%;
    background: var(--colorWhite);
    box-shadow: 7px 6px 19px 0 rgba(255, 46, 0, 0.49);
    cursor: pointer;
}
.sec03 .menu .menuimg01{
    background: url(/droptop/images/droptop_main/menu01_pc.png) no-repeat 50% 50% / cover;
    width: 55%;
    height: 60%;
}
.sec03 .menu .menuimg02{
    background: url(/droptop/images/droptop_main/menu02_pc.png) no-repeat 50% 50% / cover;
    width: 45%;
    height: 60%;
}
.sec03 .menu .menuimg03{
    background: url(/droptop/images/droptop_main/menu03_pc.png) no-repeat 50% 50% / cover;
    width: 55%;
    height: 60%;
}
.sec03 .menu .menuimg04{
    background: url(/droptop/images/droptop_main/menu04_pc.png) no-repeat 50% 50% / cover;
    width: 50%;
    height: 53%;
}
.sec03 .menu p:first-of-type{
    font-size: 25px;
}
.sec03 .menu p:last-of-type{
    font-size: 20px;
    color: var(--colorGrey);
}
.sec03 a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 60px 10px 60px;
    background: var(--colorDarkBlue);
    border-radius: 10px;
}
.sec03 a p{
    font-size: 40px;
    color: var(--colorWhite);
}
.sec04{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1200px;
    background: var(--colorWhite);
    position: relative;
}
.sec04 .inner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
}
.sec04 .txtbox{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.sec04 .txtbox h3{
    font-size: 50px;
    font-weight: 900;
}
.sec04 .txtbox p{
    font-size: 30px;
}
.sec04 .snsallbox{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.sec04 .snsbox{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    border: 2px solid var(--colorDarkBlue);
    box-shadow: 35px 35px 10px 5px rgba(0, 0, 0, 0.1);
    background: var(--colorWhite);
}
.sec04 .snsbox:nth-of-type(1),
.sec04 .snsbox:nth-of-type(3),
.sec04 .snsbox:nth-of-type(5){
    align-self: flex-start;
}
.sec04 .snsbox:nth-of-type(2),
.sec04 .snsbox:nth-of-type(4){
    align-self: flex-end;
}
.sec04 .snsbox > div:first-of-type{
    width: 100%;
    height: 75%;
    cursor: pointer;
}
.sec04 .snsbox .snsimg01{
    background: url(/droptop/images/droptop_main/sns01_pc.png) no-repeat 50% 50% / cover;
}
.sec04 .snsbox .snsimg02{
    background: url(/droptop/images/droptop_main/sns02_pc.png) no-repeat 50% 50% / cover;
}
.sec04 .snsbox .snsimg03{
    background: url(/droptop/images/droptop_main/sns03_pc.png) no-repeat 50% 50% / cover;
}
.sec04 .snsbox .snsimg04{
    background: url(/droptop/images/droptop_main/sns04_pc.png) no-repeat 50% 50% / cover;
}
.sec04 .snsbox .snsimg05{
    background: url(/droptop/images/droptop_main/sns05_pc.png) no-repeat 50% 50% / cover;
}
.sec04 .snsbox .iconbox{
    display: flex;
    gap: 15px;
}
.sec04 .snsbox .iconbox i{
    cursor: pointer;
    font-size: 25px;
}
.sec04 .snsbox .iconbox i:first-of-type{
    color: red;
}
.sec04::before{
    content: "COFFEE";
    color: var(--colorPinkCoral);
    position: absolute;
    font-size: 200px;
    font-weight: 900;
    top: -85px;
    left: 10px;
}
footer{
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
}
footer .top{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--colorGrey);
}
footer .bottom{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--colorGrey);
}
footer .top .inner{
    display: flex;
    justify-content: center;
    width: 55%;
    height: 76%;
}
footer .bottom .inner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    height: 100%;
}
footer .awards{
    background: url(/droptop/images/droptop_main/awards_pc.png) no-repeat 50% 50% / cover;
    width: 100%;
    height: 100%;
}
footer .logo{
    background: url(/droptop/images/droptop_main/logo_pc.png) no-repeat 50% 50% / cover;
    width: 30%;
    height: 45%;
    cursor: pointer;
}
footer .footertxt{
    width: 115%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 70px 0 0;
}
footer .footertxt p:first-of-type{
    color: var(--colorDarkGrey);
    font-weight: 600;
    font-size: 14px;
    margin: 0 0 5px 0;
    display: flex;
    gap: 15px;
}
footer .footertxt a{
    position: relative;
}
footer .footertxt a:nth-of-type(1)::after,
footer .footertxt a:nth-of-type(2)::after,
footer .footertxt a:nth-of-type(3)::after,
footer .footertxt a:nth-of-type(4)::after,
footer .footertxt a:nth-of-type(5)::after,
footer .footertxt a:nth-of-type(6)::after{
    width: 1px;
    height: 12px;
    background: var(--colorDarkGrey);
    content: "";
    position: absolute;
    top: 5px;
    right: -8px;
}
footer .footertxt p:nth-of-type(2),
footer .footertxt p:nth-of-type(3){
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
footer .footertxt p:nth-of-type(2) span,
footer .footertxt p:nth-of-type(3) span{
    position: relative;
}
footer .footertxt p:nth-of-type(2) span:first-of-type::after,
footer .footertxt p:nth-of-type(3) span:nth-of-type(1)::after,
footer .footertxt p:nth-of-type(3) span:nth-of-type(2)::after,
footer .footertxt p:nth-of-type(3) span:nth-of-type(3)::after{
    width: 1px;
    height: 11px;
    background: var(--colorGrey);
    content: "";
    position: absolute;
    top: 5px;
    right: -6px;
}
footer .footertxt p:nth-of-type(2) span,
footer .footertxt p:nth-of-type(3) span,
footer .footertxt p:nth-of-type(4){
    color: var(--colorGrey);
    font-size: 13px;
}
footer .footertxt p:last-of-type{
    color: var(--colorGrey);
    font-size: 14px;
    margin: 5px 0 0 0;
}
footer .sns{
    display: flex;
    gap: 7px;
}
footer .sns > div{
    cursor: pointer;
    width: 28px;
    height: 28px;
}
footer .sns .insta{
    background: url(/droptop/images/droptop_main/insta_pc.png) no-repeat 50% 50% / cover;
}
footer .sns .facebook{
    background: url(/droptop/images/droptop_main/facebook_pc.png) no-repeat 50% 50% / cover;
}
footer .sns .blog{
    background: url(/droptop/images/droptop_main/blog_pc.png) no-repeat 50% 50% / cover;
}
.logoboxmb{
    display: none;
}
.fixedbt{
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: fixed;
    right: 120px;
    top: 50%;
    z-index: 100;
}
.fixedbt .button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 138px;
    height: 135px;
    border-radius: 18px;
    background: var(--colorWhite);
    box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.fixedbt .btimg01{
    background: url(/droptop/images/droptop_main/fixedbt01_pc.png) no-repeat 50% 50% / cover;
    width: 50px;
    height: 50px;
}
.fixedbt .btimg02{
    background: url(/droptop/images/droptop_main/fixedbt02_pc.png) no-repeat 50% 50% / cover;
    width: 76px;
    height: 66px;
}
.fixedbt .btimg03{
    background: url(/droptop/images/droptop_main/fixedbt03_pc.png) no-repeat 50% 50% / cover;
    width: 50px;
    height: 50px;
}
.fixedbt p{
    font-size: 20px;
    color: var(--colorDarkGrey);
}